<a href="https://colab.research.google.com/github/Himanshu0518/Machine-Learning/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

system specifications

In [ ]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed bhi
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed bhi
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [ ]:
!cat /proc/meminfo

MemTotal:       13290464 kB
MemFree:         8718008 kB
MemAvailable:   12392056 kB
Buffers:          336716 kB
Cached:          3520512 kB
SwapCached:            0 kB
Active:           597732 kB
Inactive:        3722776 kB
Active(anon):       1136 kB
Inactive(anon):   463576 kB
Active(file):     596596 kB
Inactive(file):  3259200 kB
Unevictable:           4 kB
Mlocked:               4 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:               376 kB
Writeback:             0 kB
AnonPages:        463432 kB
Mapped:           276300 kB
Shmem:              1428 kB
KReclaimable:     118380 kB
Slab:             154592 kB
SReclaimable:     118380 kB
SUnreclaim:        36212 kB
KernelStack:        4192 kB
PageTables:         9132 kB
SecPageTables:         0 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6645232 kB
Committed_AS:    1980612 kB
VmallocTotal:   34359738367 kB
VmallocUsed:       10508 kB
VmallocChunk:          0 kB
Percpu:             1096 kB
HardwareCorrupted:     0 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
Unaccepted:            0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:       62264 kB
DirectMap2M:     4128768 kB
DirectMap1G:    11534336 kB

Installing libraries

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd

#print function

In [ ]:
print("RCB")

RCB

#CONSTANTS AND VARIABLES

In [ ]:
superhero = "hulk"
print(superhero)

hulk

In [ ]:
c = 1+3j
print(c)
type(c)

(1+3j)

complex

typecasting

In [ ]:
x = float(10)
print(x)

10.0

In [ ]:
print("hellow "*5)

hellow hellow hellow hellow hellow

SLICING

In [ ]:
my_str = "hello world"
print(my_str[5:11])
print(my_str[5:11:2])

 world
 ol

Types of Objects
  1. Immutable objects
      * int
      * float
      * string
      * bool
      * tuple --> use round braces

  2. Mutable Objects
       * List   --> use square braces
       * Set   --> curley braces
       * Dictionary

# List

In [ ]:
# list should be included in square brackets
my_list = [1,2,3,4,5,6,8]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5, 6, 8]

list

In [ ]:
# List can have multiple datatypes
my_list = [1,2,"himanshu",True]
my_list.append(20) # push the element at the end of list
print(my_list)
print(len(my_list))
del my_list[2]
print(my_list)
# join two list
list2 = ['p','q',7]
print(my_list + list2)

[1, 2, 'himanshu', True, 20]
5
[1, 2, True, 20]
[1, 2, True, 20, 'p', 'q', 7]

# Tuple

In [ ]:
# tuples are immutable
tuple_1 = (1,2,34)
print(tuple_1)
type(tuple_1)

(1, 2, 34)

tuple

In [ ]:
# tupples also can have multiple datatypes
tupple_1 = (1,6,8,'MACHINE LEARNING')

# converting list to tupple
my_list = [1,2,"himanshu",True]
my_tuple = tuple(my_list)
print(my_tuple)
print(tupple_1)

(1, 2, 'himanshu', True)
(1, 6, 8, 'MACHINE LEARNING')

# SET

In [ ]:
set1 = {2,4,5,6}
# No indexing
# No duplicate elements
my_list = [1,2,"himanshu",True]
my_set = set(my_list)
print(my_set)

{1, 2, 'himanshu'}

# DICTIONARY

In [ ]:
# key-value pairs
# Does not allow duplicates
my_dictionary = {'name':"Raj", 'age' :18 } ;
print(type(my_dictionary))
print(my_dictionary)
print(my_dictionary['name'])

<class 'dict'>
{'name': 'Raj', 'age': 18}

# Operators in Python

1. Arithmatic Operators (+,-,/,%,**)
2. Assignment Operators (=,+=,-=,*=,/=)
3. Comparison Operators (>,<,==,!=)
4. Logical Operators (and,or,NOT)
5. Identity operators
6. Membership Opearators

Identity operator

is,is not

In [ ]:
 x = 5
 y = 3
 print(x is y)
 print(x is not y)

False
True

Membership operator

in , not in

In [ ]:
a = 5
b = 10
c = [1,2,3,4,5,7]
print(a in c)
print(b in c)
print(a not in c)
print(b not in c)

True
False
False
True

# Conditional statements

  if else in python

In [ ]:
a=int(input('Enter the 1st number'))
if(a>50):
  print(100)
else:
  print(0)

Enter the 1st number20
15

 if elif

In [ ]:
a=int(input('Enter the 1st number'))
if(a<50):
  print(0)
elif(a<100):
  print(75)
else:
  print(100)

Enter the 1st number55
75

# Loops in python

For loops

In [ ]:
# to input a list of names of superheroes
super_heroes = []
for i in range(5): # i = 0,1,2,3,4
  hero = input('enter your favorute superhero')
  super_heroes.append(hero)

print(super_heroes)

enter your favorute superheroHulk
enter your favorute superhero  Iron-Man
enter your favorute superheroThor
enter your favorute superhero Captain America
enter your favorute superhero  Spider-Man
['Hulk', '  Iron-Man', 'Thor ', ' Captain America', '  Spider-Man']

While Loop

In [ ]:
i = 0

while i<10 :
   print(i)
   i += 2

0
2
4
6
8

# Functions in Python

Factorial of a number using functions

In [ ]:
def factorial(num):
  fact = 1 ;
  if num == 0:
    return fact
  for i in range (1,num+1):
    fact = fact*i
  return fact


n = int(input('Enter  the Number'))
print(factorial(n))

Enter  the Number5
120